.Nav_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 814px;
    border-radius: 5px;
    background-color: var(--white);
    padding-top: 40px;
    margin-right: 20px;
    box-shadow: 10px 10px 0 0 #007FB1;

    img {
        width: 35px;
        margin-bottom: 35px;
    }
}

.BarWrap_wrap {
    margin-left: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    >div {
        background-color: var(--white);
        box-shadow: 10px 10px 0 0 #007FB1;
        border: 3px solid var(--main01);
        border-radius: 5px;
        width: 100%;
    }

    .Dday_wrap {
        width: 100%;
        height: 250px;

        .header {
            height: 50px;
            width: 100%;
            background-color: var(--main01);
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin: 0 13px;
                width: 20px;
                height: 20px;
            }
        }

        h2 {
            font-family: var(--subfont);
            font-size: 64px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .Profile_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 400px;

        img {
            width: 187px;
            height: 187px;
            border-radius: 5px;
            border: 2px solid var(--main01);
            margin-bottom: 12px;
        }

        .name {
            text-align: center;
            width: 187px;
            font-family: var(--subfont);
            font-size: 24px;
            padding-bottom: 10px;
            border-bottom: 2px solid var(--main01);
            margin-bottom: 12px;
        }

        .introduce {
            font-size: 16px;
            margin-bottom: 12px;
        }

        button {
            width: 187px;
            height: 44px;
            display: flex;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            background-color: var(--main01);
            color: var(--white);
        }
    }

    .Time_wrap {
        font-family: var(--subfont);
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        line-height: 1.1;

        p {
            font-size: 16px;
        }

        h2 {
            font-size: 56px;
        }
    }
}